nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 2px rgba(234, 236, 229, 0.998);
}

#titleBanner {

  font-family: "Emilys Candy", serif;
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li a img:hover {
  transform: rotate(180deg);
}

body {
  background-image: url("../images/rainbow3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Emilys Candy", serif;
  color: white;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

input {
  color: purple;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  width: 30%;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 0.5rem;
}

input[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: pink;
  color: purple;
}

footer {
  /* background-color: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  ); */
  /* background-color: radial-gradient(pink, purple); */
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  width: 90%;
  height: 20px;
  margin: auto;
}

img {
  height: 50px;
  margin: 10px;
}

#copyRight {
  font-size: 10px;
  float: left;
}

#footerMessage {
  font-size: 15px;
  /* float: right; */
  margin: auto;
}

a:hover {
  color: pink;
}

a {
  color: yellow;
}

ul li {
  display: inline;
  justify-content:center;

}
