/* *********CSS FOR BOTH PAGES******** */
.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 2px rgba(234, 236, 229, 0.998);
}

#titleBanner {
  font-family: "Emilys Candy", serif;
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #ec1a16,
    #2196f3,
    #26c6da,
    #ed165d,
    #5e17d9,
    #1ceb27,
    #cfdf22,
    #f9a825,
    #ea4716
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

body {
  background-image: url("../images/rainbow4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Emilys Candy", serif;
  color: white;
  text-shadow: 0px 2px 1px black;
}

img {
  height: 50px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  justify-content: center;
}

li a img:hover {
  transform: rotate(180deg);
}

input {
  color: purple;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  width: 30%;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 0.5rem;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: pink;
  color: purple;
}

a {
  color: yellow;
}

a:hover {
  color: pink;
}

footer {
  /* background-color: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  ); */
  /* background-color: radial-gradient(pink, purple); */
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 10px;
  width: 90%;
  height: 20px;
  margin: auto;
}

#copyRight {
  font-size: 10px;
  float: left;
}

#footerMessage {
  font-size: 15px;
  margin: auto;
}

/**************** CSS for Login Page ******************/
#rememberMeDiv {
  display: flex;
  justify-content: center;
  font-size: small;
}

#rememberMeLabel {
  position: absolute;
}

#signInWith {
  display: flex;
  justify-content: center;
}

#signInWith p {
  margin-top: 40px;
  font-size: 1.5rem;
}

#gender {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#gender li {
  padding: 5px 10px 20px 10px;
}

/************* CSS for Registration Page ***************/
#lowerSection {
  display: flex;
}

#lowerSection section {
  width: 50%;
}

#section2 input,
#section3 input {
  width: 60%;
}

#dobLabel {
  margin: 0px 0px 10px 112px;
}

#referal {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
